@{
    ViewData["Title"] = "拒绝访问";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">您没有访问此路由的权限</p>
</header>


<form action="/Account/Logout" method="post">
    <input type="submit" value="Logout">
</form>
