@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form action="Login" method="post">
    <input hidden name="returnurl" type="text" value="@ViewData["ReturnUrl"]" /><br />
    <input name="Name" type="text" value="Bob" /><br />
    <input name="myClaimValue" type="text" value="green" /><br />
    <input type="submit">
    <div><b>注意:授权策略将检查"green"的值，其他值应通过身份验证，但不对特定路由进行授权</b></div>
</form>
